/* reset */
*{ margin:0; padding:0;}
ul,ol{ list-style: none;}
img{ display: block;}
a{ text-decoration: none;}
h1,h2,h3,h4{ font-size:14px;}
/* common */
.l{ float:left;}
.r{ float:right;}
.clear:after{ content:""; display: block; clear:both;}
.container{ width:1202px; margin:0 auto; position: relative;}
.container-fluid{ position: relative;}


/* header */
#header{ height: 48px; background: #f2f2f2; border-top: 1px solid #dadce0;}
#header img{ float: left; margin: 10px 16px 0 4px;}
#header span:first-of-type{ color: #c2c2c2; font-size: 20px; line-height: 42px;}
#header span:last-of-type{ color: #191919; font-size: 16px; font-weight: bolder; margin-left: 14px;}

/* warn */
#warn{ height: 48px; background: #e1e1e1; font-size: 14px; text-align: center; text-align: center; line-height: 48px;}
#warn .warn span:first-of-type{ color: #a9a9a9;}
#warn .warn span:last-of-type{ color: #191919;}

/* main */
#main{ height: 740px; overflow: hidden;}
#main .main h1{ font-size: 32px; line-height: 52px; margin: 96px 0 53px 0; text-align: center; font-weight: normal;}
#main .main .main-code{ height: 300px; width: 412px; margin: 20px 0 0 118px; border-right: 1px solid #e5e5e5;}
#main .main-code .main-code-img{ width: 200px; height: 200px; margin-left: 68px; background-color: #f7f7f7; border-radius: 10px; overflow: hidden;}
#main .main-code-img img{ margin: 20px 0 0 20px;}
#main .main-code p{ font-size: 12px; color: #838383; margin-top: 56px;}

#main .main-login{ margin-left: 64px;}
#main .main-login-warn .remind{ height: 14px; }
#main .main-login-warn p{ line-height: 14px; font-size: 14px; color: red; display: none;}
#main .main-login-warn .main-login-name{ width: 358px; height: 50px; background-color: #f2f2f2; border-radius: 10px; font-size: 14px; margin-top: 6px; border: 1px solid transparent;}
#main .main-login-warn .main-login-name input{ width: 300px; height: 20px; margin: 15px 0 0 16px; border: none; background-color: #f2f2f2; outline: none;caret-color: #007dff;}

#main .main-login .main-login-pwd{ width: 358px; height: 50px; background-color: #f2f2f2; border-radius: 10px; font-size: 14px; margin-top: 28px; position: relative; border: 1px solid transparent;}
#main .main-login .main-login-pwd input{ width: 300px; height: 20px; margin: 15px 0 0 16px; border: none; background-color: #f2f2f2; outline: none; caret-color: #007dff;}
#main .main-login-pwd span{ position: absolute; right: 18px; top: 15px; font-size: 20px; cursor:pointer; color: #979797; }
#main .main-login .main-login-note{ margin: 20px 0 42px 0;}
#main .main-login .main-login-note a{ font-size: 16px; color: #007dff;}
#main .main-login .main-login-note a:hover{ color: #0064cc;}
#main .main-login button{ width: 358px; height: 50px; background-color: rgba(202,20,29,.3); border-radius: 10px; outline: none; cursor: pointer; font-size: 18px; color: white; border: none; font-weight: bolder;}
#main .main-login .main-login-reg{ width: 358px; height: 20px; line-height: 20px; margin: 40px 0 30px 0; text-align: center; font-size: 0;}
#main .main-login-reg a{ font-size: 16px; color: #007dff; height: 20px; border-left: 1px solid #e5e5e5;}
#main .main-login-reg a span{ margin: 10px;}
#main .main-login-reg a:first-of-type{ border: none;}
#main .main-login-reg a:hover{ color: #0064cc;}
#main .main-login-icon .l{ height: 40px; width: 40px; background-color: #f7f7f7; border-radius: 50%; font-size: 18px; color: #313131; text-align: center; line-height: 40px;}
#main .main-login-icon .main-login-icon-qq{ margin-left: 70px;}
#main .main-login-icon .main-login-icon-qq:hover{ background-color: #506a7e; color: white;}
#main .main-login-icon .main-login-icon-zfb{ margin-left: 50px;}
#main .main-login-icon .main-login-icon-zfb:hover{ background-color: #00aaef; color: #fff;}
#main .main-login-icon .main-login-icon-weixin{ margin-left: 50px;}
#main .main-login-icon .main-login-icon-weixin:hover{ color: #fff; background-color: #47cc47;}


/* footer */
#footer{ text-align: center; height: 100px; background-color: #f2f2f2; overflow: hidden;}
#footer .footer-nav{ margin-top: 35px;}
#footer .footer-nav span{ font-size: 14px; line-height: 18px;}
#footer .footer-nav a{ height: 18px; color: #000;padding: 0 16px 0 16px;border-left: 1px solid #d9e2e9;}
#footer .footer-nav span:first-of-type a{ border-left: none; }
#footer p{ font-size: 14px; color: #aaa; line-height: 32px;}
